@import 'bootstrap/dist/css/bootstrap.min.css';
/* @import 'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css'; */

body {
  margin: 0;
  padding: 0;
}

a {
  color: #d15e28 !important;
  font-weight: 600;
  cursor: pointer;
}

.App {
  background-color: #f1f1f1;
  min-height: 100vh;
}

.Card-title {
  background-color: #f1f1f1;
  padding: 2vh;
  border-bottom: 1px solid black;
}

.Step-button {
  background-color: #d7eaf5;
  border-color: #65b0dd;
  color: #65b0dd;
  border-radius: 50px;
  font-size: small;
}

.Step-button-active {
  background-color: #fff;
}

.bg-grey {
  background: #f1f1f1;
}

.alert {
  margin-bottom: 0;
}